:root{
  --bg:black;
  --light: #fff;
  --org:orange;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg);
  color: var(--light);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
}

.container {
  width: 100%;
  margin: auto;
}

.navbar {
  background-color: var(--org);
  color: var(--light);
  padding: 0 0 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  overflow: hidden;
  margin: 10px auto;
  padding: 1px;
  text-align: center;
  align-items: center;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 50px 0;
}
.navbar .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  float: left;
  clear: both;
}

.navbar .menu-icon {
  cursor: pointer;
  display: none;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.navbar  .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.navbar .menu-icon .navicon::before{
  top: 5px;
}

.navbar .menu-icon .navicon::after{
  top: -5px;
}
.navbar .menu-btn{
  display: none;
}
.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header {
  text-align: center;
  padding: 150px 0 100px; 
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.header p {
  font-size: 1rem;
  line-height: 1.5;
}

.header a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 2rem 0;
}

section h2 {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 900;
}

.section p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sub-flex {
  display: flex;
  flex-direction: column;
}

.service-item {
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
  margin: 1rem 0;
}

.service-item p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.service-item i {
  font-size: 2rem;
  color: var(--org);
}
#samples{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.project{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.project img{
  width: 300px;
  border-radius: 10px;
  margin: 0 auto;
}
.project a{
  font-size: 15px;
  font-weight: 600;
  color: var(--bg);
  background-color: var(--light);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  gap: 10px;
}
.project h3{
  font-size: 16px;
  margin: 10px 0 0 0;
}
.project p{
font-size: 14px;
}
.project i{
  color: var(--org);
  margin: 10px 0;
  gap: 10px;
  font-size: 30px;
}

.tesmonials {
  background-color: #fff;
  padding: 60px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tesmonials h2 {
  text-align: center;
  margin-bottom: 40px;
}

.carousel-item {
  text-align: center;
}

.card {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-header img {
  border-radius: 50%;
  margin-right: 20px;
}

.card-title h4 {
  margin: 0;
  font-size: 1.2rem;
}

.card-title h5 {
  margin: 0;
  font-size: 1rem;
  color: #777;
}

.card-body p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.carousel-control-prev, .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 20px;
  height: 20px;
}

#contact {
  padding: 60px 20px;
}

#contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#contact form label {
  margin-right: 40rem;
  margin-bottom: 5px;
  font-weight: bold;
}

#contact form input, #contact form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#contact form textarea {
  resize: vertical;
  min-height: 150px;
}

#contact form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

footer#footer {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

footer#footer .social_link a {
  margin: 0 0.5rem;
  color: #fff;
}

.box {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.box.show {
  opacity: 1;
  transform: translateY(0);
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #333;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar ul {
    display: none;
  }
  .navbar li a{
    padding: 20px 30px;
  }
  .navbar .menu{
    flex-direction: column;
    max-height: 0;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    transition: max-height .2s ease-out;
  }
  .navbar ul li:hover{
    background: var(--bg);
    border: 1px solid var(--org);
  }
  .navbar .menu-icon{
    display: block;
    float: right;
  }
  .navbar .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  .header h1 {
    font-size: 2rem;
  }
  .wrapper{
    flex-direction: column;
  }
  .service-item {
    width: 100%;
    margin: 1rem 0;
  }

  .tesmonials .cards .card {
    width: 80%;
  }

  #form input,
  #form textarea {
    width: 90%;
  }

  #form input[type="submit"] {
    width: 60%;
  }
}
